<%-include('./partials/header')%>

<%-include('./partials/navbar',  {authenticated, active: 1})%>
<div class="container">
    <form action="/auth/inscription" method="post">
        <h2>Inscription</h2>
        <div class="input-field">
            <input type="text" name="username" id="username" placeholder="Entrer votre nom d'utilisateur">
        </div>
        <div class="input-field">
            <input type="email" name="email" id="email" placeholder="Entrer votre email">
        </div>
        <div class="input-field">
            <input type="password" name="password" id="password" placeholder="Entrer mot de passe">
        </div>
        <div class="input-field">
            <input type="date" name="date" id="date" placeholder="Entrer mot de passe">
        </div>
        <input type="submit" value="Valider">
    </form>
</div>
<%-include('./partials/footer')%>
