<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="views/forme.css">
    
</head>
<body>
   

    <form action="/inscription" method="post">
        <h2>Inscription</h2>
        <div class="input-field">
            <input type="text" name="nom" id="username" placeholder="Entrer login">
        </div>
        <div class="input-field">
            <input type="email" name="email" id="email" placeholder="Entrer votre email">
        </div>
        <div class="input-field">
            <input type="password" name="password" id="password" placeholder="Entrer mot de passe">
        </div>
        <div class="input-field">
            <input type="date" name="date" id="date" placeholder="Entrer mot de passe">
        </div>
        <input type="submit" value="Valider">
    </form>
</body>
</html>